<section class="partners page-width">
  <div class="container">
    <div class="partners__logos">
      <img class="partners__image" src="{{ 'partners.png' | asset_url }}" width="150" height="23">
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Partners Section",
  "settings": [],
  "presets": [
    {
      "name": "Partners Section"
    }
  ]
}
{% endschema %}
