<section class="partners">
  <div class="container">
    <div class="partners__logos">
      <img class="partners__image" src="{{ 'partners.png' | asset_url }}" width="2500" height="102">
      <img class="partners__image-mobile" src="{{ 'partners-mobile.png' | asset_url }}" width="940" height="32">
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Partners Section",
  "settings": [],
  "presets": [
    {
      "name": "Partners Section"
    }
  ]
}
{% endschema %}
