{{ 'promotional.css' | asset_url | stylesheet_tag }}

<style>
  .shift-whole-left {
    transform: translateX(-70px) !important;
    display: inline-block;
    text-align: left;
  }

  .split-right-phrase {
    display: inline-block;
    white-space: normal;
    text-align: right;
  }

  .split-right-phrase span {
    display: block;
  }
</style>

<section class="promotional page-width">
  <div class="promotional__wrapper">
    <div class="promotional__text">
      <h2 class="promotional__text-title" style="font-weight: 500 !important;">
        volume <span>where</span> <br>
        <span>you </span> actually <br>
        need it.
      </h2>
    </div>

    <div class="promotional__image">
      <p class="promotional__image-text left-text shift-whole-left">
        Precision‑plumping<br>
        for&nbsp;delicate&nbsp;areas
      </p>

      <div class="promotional__image-wrapper" style="transform: scale(1.2) translateY(-2%); transform-origin: bottom center;">
        <img src="{{ 'volufiline-promo.png' | asset_url }}" width="280" height="822">
      </div>

      <p class="promotional__image-text right-text split-right-phrase">
        <span>Skin looks fuller,</span>
        <span>feels firmer</span>
      </p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Promotional section",
  "settings": [],
  "presets": [
    {
      "name": "Promotional section"
    }
  ]
}
{% endschema %}
