{{ 'promotional.css' | asset_url | stylesheet_tag }}

<style>
  .promotional__text-title {
    font-weight: 500;
    max-width: 500px;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .promotional__text-title {
      font-size: 48px !important;
      line-height: 1.2 !important;
    }
  }
</style>

<section class="promotional page-width">
  <div class="promotional__wrapper">
    <div class="promotional__text">
      <h2 class="promotional__text-title">
        volume <span>where</span> <br>
        <span>you </span> actually <br>
        need it.
      </h2>
    </div>

    <div class="promotional__image">
      <p class="promotional__image-text left-text">
        Precision-plumping<br>
        for delicate areas
      </p>

      <div class="promotional__image-wrapper">
        <img src="{{ 'volufiline-promo.png' | asset_url }}" width="280" height="822">
      </div>

      <p class="promotional__image-text right-text">
        Skin looks fuller,<br>
        feels firmer
      </p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Promotional section",
  "settings": [],
  "presets": [
    {
      "name": "Promotional section"
    }
  ]
}
{% endschema %}
