{{ 'promotional.css' | asset_url | stylesheet_tag }}

<style>
  .shift-whole-left {
    transform: translateX(-70px) !important;
    display: inline-block;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
  }

  .staggered-right-align {
    display: inline-block;
    text-align: right;
    line-height: 1.2;
    transform: translateX(15px) translateY(-45px); /* lifted 45px */
    font-weight: 400;
    font-size: 15px;
  }

  .staggered-right-align span {
    display: block;
    white-space: nowrap;
  }
</style>

<section class="promotional page-width">
  <div class="promotional__wrapper">
    <div class="promotional__text">
      <h2 class="promotional__text-title" style="font-weight: 500 !important;">
        volume <span>where</span> <br>
        <span>you </span> actually <br>
        need it.
