.video-slider {
  margin-top: 8rem;

  .swiper-slide {
    transform: scale(0.9);
    transition: transform 0.3s linear;
  }

  .swiper-slide-active {
    transform: scale(1);
  }
}

.video-slider__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;

  h2 {
    font-size: 3.2rem;
    line-height: 133%;
    color: #000;
  }
}

.video-slider__titles >* {
  margin: initial;
}



.video-slider__titles-stars {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;

  p {
    font-size: 1.4rem;
    color: #000;
    line-height: 133%;
    margin: initial;
  }
}

@media screen and (min-width: 420px) {
  .video-slider__titles-stars {
   flex-direction: row;
  }
}

.video-slider__subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  line-height: 133%;
}

.video-slider__text-star {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.video-slider__counter {
  font-size: 1.4rem;
  line-height: 133%;
  color: rgba(0, 0, 0, 0.5);
}

.video-slider__wrapper {
  margin-top: 3rem;
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
}

.video-slider__slide {
  position: relative;
  display: flex;
  border-radius: 2rem;
  overflow: hidden;
}

.video-slider__video {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}

.video-slider__slide-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: initial;
  outline: none;
  border: initial;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.video-slider__slide-button.play {
  opacity: 0.3;
}

@media screen and (min-width: 750px) {
  .video-slider__wrapper {
    width: 100%;
    margin-left: initial;
  }
}

@media screen and (min-width: 1024px) {
  .video-slider {
    margin-top: 20rem;
  }

  .video-slider__titles {
    grid-gap: 2.5rem;
    h2 {
      font-size: 6.4rem;
    }
  }

  .video-slider__titles-stars {
    p {
      font-size: 2.4rem;
    }
  }

  .video-slider__subtitle {
    font-size: 3.2rem;
  }

  .video-slider__wrapper {
    margin-top: 5rem;
  }
}