.volufiline-product-slider__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  

  .swiper-slide-thumb-active {
    .volufiline-product-slider__image-thumbs {
      border: 0.1rem solid #000;
    }
  }
}

@media screen and (min-width: 1480px) {
  .volufiline-product-slider__wrapper {
    flex-direction: row-reverse;
    max-height: 87rem;
    margin-bottom: initial;
    max-width: initial;
    margin-left: initial;
    margin-right: initial;
  }
}

.volufiline-product-slider__big {
  position: relative;
  width: 100%;

  .volufiline-swiper-button-next, .volufiline-swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid #000;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.3s linear;
  }

  .volufiline-swiper-button-prev.swiper-button-disabled {
    opacity: 0.2;
  }

  .volufiline-swiper-button-next.swiper-button-disabled {
    opacity: 0.2;
  }

  .volufiline-swiper-button-next {
    right: 1rem;
  }

  .volufiline-swiper-button-prev {
    left: 1rem;
  }

  .volufiline-product-pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper-pagination-bullet {
      width: 1rem;
      height: 1rem;
      border: 0.1rem solid #000;
      border-radius: initial;
      background-color: #fff;
      opacity: initial;
    }

    .swiper-pagination-bullet-active {
      background-color: #000;
    }
  }

  @media screen and (min-width: 992px) {
    .volufiline-product-pagination {
      display: none;
    }
  }

  @media screen and (min-width: 1480px) {
    .volufiline-swiper-button-next, .volufiline-swiper-button-prev {
      display: none;
    }
  }
}

.volufiline-product-slider__thumbs {
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 0.2rem;
  display: none;
}

@media screen and (min-width: 992px) {
  .volufiline-product-slider__thumbs {
    display: block;
    flex-shrink: 0;
    padding-bottom: 0.2rem;
    /* width: initial; */
  }
}

@media screen and (min-width: 1480px) {
  .volufiline-product-slider__thumbs {
    width: initial;
  }
}

.volufiline-product-slider__image-thumbs, .volufiline-product-slider__image-big {
  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 1480px) {
  .volufiline-product-slider__image-thumbs, .volufiline-product-slider__image-big {
    img {
      border-radius: 2rem;
    }
  }
}

.volufiline-product-slider__image-thumbs {
  display: flex;
  max-width: initial;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  border: 0.1rem solid transparent;
  transition: border 0.3s linear;
}

@media screen and (min-width: 1480px) {
  .volufiline-product-slider__image-thumbs {
    max-width: 16rem;
  }
}

.volufiline-product-slider__image-big {
  display: flex;
  height: 100%;
}